extends ../layout.jade
block contenido
	h2(class="RalewaySha text-center big verde") Albañilería 
	p(class="RalewaySha2 text-center mediano") 
	each product in products
		a(href="#" style="text-decoration:none;color:black;")
			div(class="col-md-4 col-sm-6 col-xs12 inline-block center-block text-center" )
				h3(class="Delius")= product.nombre
				img(src="#{ product.imagen }" class="col-xs-7 col-md-4 quitar-float")
				p(style="margin-top:1em;")= product.tlf
				p(style="margin-top:1em;") #[small(class="lato small") #{product.descripcion}]
				p(style="margin-top:1em;") #[small(class="lato small") #{product.precio}Bs]