extends ../layout.jade
block contenido
	h2(class="PhilosopherSha text-center grande4 azul") Categorias
	p(class="PhilosopherSha2 text-center mediano") 
	a(href="/menu/hmanu" style="text-decoration:none;color:black;")
		div(class="col-md-3 col-sm-12 col-xs12 inline-block center-block text-center" )
			h3(class="PhilosopherSha2") Herramientas Manuales
			img(src="img/bolivar.jpg" class="col-xs-5 col-md-3 quitar-float")
	a(href="/menu/melec" style="text-decoration:none;color:black;")
		div(class="col-md-3 col-sm-12 col-xs12 inline-block center-block text-center" )
			h3(class="PhilosopherSha2") Materiales Eléctricos
			img(src="img/pzo.jpg" class="col-xs-5 col-md-3 quitar-float")
	a(href="/menu/hogar" style="text-decoration:none;color:black;")
		div(class="col-md-3 col-sm-12 col-xs12 inline-block center-block text-center" )
			h3(class="PhilosopherSha2") Hogar
			img(src="img/bolivar.jpg" class="col-xs-5 col-md-3 quitar-float")
	a(href="/menu/proqui" style="text-decoration:none;color:black;")
		div(class="col-md-3 col-sm-12 col-xs12 inline-block center-block text-center" )
			h3(class="PhilosopherSha2") Productos Químicos
			img(src="img/pzo.jpg" class="col-xs-5 col-md-3 quitar-float")		
	a(href="/menu/grifplo" style="text-decoration:none;color:black;")
		div(class="col-md-3 col-sm-12 col-xs12 inline-block center-block text-center" )
			h3(class="PhilosopherSha2") Grifería y Plomería
			img(src="img/bolivar.jpg" class="col-xs-5 col-md-3 quitar-float")
	a(href="/menu/cerr" style="text-decoration:none;color:black;")
		div(class="col-md-3 col-sm-12 col-xs12 inline-block center-block text-center" )
			h3(class="PhilosopherSha2") Cerrajería
			img(src="img/pzo.jpg" class="col-xs-5 col-md-3 quitar-float")
	a(href="/menu/herr" style="text-decoration:none;color:black;")
		div(class="col-md-3 col-sm-12 col-xs12 inline-block center-block text-center" )
			h3(class="PhilosopherSha2") Herrería
			img(src="img/bolivar.jpg" class="col-xs-5 col-md-3 quitar-float")
	a(href="/menu/alba" style="text-decoration:none;color:black;")
		div(class="col-md-3 col-sm-12 col-xs12 inline-block center-block text-center" )
			h3(class="PhilosopherSha2") Albañilería
			img(src="img/pzo.jpg" class="col-xs-5 col-md-3 quitar-float")		
	a(href="/menu/abra" style="text-decoration:none;color:black;")
		div(class="col-md-3 col-sm-12 col-xs12 inline-block center-block text-center" )
			h3(class="PhilosopherSha2") Abrasivos
			img(src="img/bolivar.jpg" class="col-xs-5 col-md-3 quitar-float")
	a(href="/menu/seg" style="text-decoration:none;color:black;")
		div(class="col-md-3 col-sm-12 col-xs12 inline-block center-block text-center" )
			h3(class="PhilosopherSha2") Seguridad
			img(src="img/pzo.jpg" class="col-xs-5 col-md-3 quitar-float")
	a(href="/menu/aut" style="text-decoration:none;color:black;")
		div(class="col-md-3 col-sm-12 col-xs12 inline-block center-block text-center" )
			h3(class="PhilosopherSha2") Automotriz
			img(src="img/bolivar.jpg" class="col-xs-5 col-md-3 quitar-float")
	a(href="/menu/jar" style="text-decoration:none;color:black;")
		div(class="col-md-3 col-sm-12 col-xs12 inline-block center-block text-center" )
			h3(class="PhilosopherSha2") Jardinería
			img(src="img/pzo.jpg" class="col-xs-5 col-md-3 quitar-float")		
	a(href="/menu/misc" style="text-decoration:none;color:black;")
		div(class="col-md-3 col-sm-12 col-xs12 inline-block center-block text-center" )
			h3(class="PhilosopherSha2") Misceláneos
			img(src="img/bolivar.jpg" class="col-xs-5 col-md-3 quitar-float")
	a(href="/menu/helec" style="text-decoration:none;color:black;")
		div(class="col-md-3 col-sm-12 col-xs12 inline-block center-block text-center" )
			h3(class="PhilosopherSha2") Herramientas Eléctricas
			img(src="img/pzo.jpg" class="col-xs-5 col-md-3 quitar-float")
	a(href="/menu/com" style="text-decoration:none;color:black;")
		div(class="col-md-3 col-sm-12 col-xs12 inline-block center-block text-center" )
			h3(class="PhilosopherSha2") Equipos a Combustión
			img(src="img/bolivar.jpg" class="col-xs-5 col-md-3 quitar-float")
	a(href="/menu/ilu" style="text-decoration:none;color:black;")
		div(class="col-md-3 col-sm-12 col-xs12 inline-block center-block text-center" )
			h3(class="PhilosopherSha2") Iluminación
			img(src="img/pzo.jpg" class="col-xs-5 col-md-3 quitar-float")		
	