doctype html
html(lang="en")
	head
		title InfoTaxiBOL
		meta(charset="UTF-8")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		link(rel="stylesheet" href="/css/main.css")
		link(rel="stylesheet" href="/css/animate.css")
		link(href="https://fonts.googleapis.com/css?family=Delius+Unicase|Philosopher:200,400,500,600" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet")
		link( href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet")
		script( async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
		script (adsbygoogle = window.adsbygoogle || []).push({ google_ad_client: "ca-pub-4720411224205075", enable_page_level_ads: true });
	body
		nav(class=" se-gris padding-largo text-center")
			ul(class="no-lista PhilosopherSha2 azul mediano")
				li(class="col-md-3 inline-block")
					a(href="/" style="text-decoration:none;" class=" azul") Inicio
				li(class="col-md-3 inline-block")
					a(href="/menu" style="text-decoration:none;" class=" azul") Catalogo
					//ul(class="col-md-3 text-center pequeño padding-largo")
						li(class="col-md-3 text-center inline-block")
							a(href="/menu/cdbol/" class="azul" style="text-decoration:none;") Ciudad Bolívar
						li(class="col-md-3 text-center inline-block")
							a(href="/menu/pzo/" class="azul" style="text-decoration:none;") Puerto Ordaz
				li(class="col-md-3 inline-block")
					a(href="/admin" style="text-decoration:none;" class=" azul") Administración
		block contenido
